/*
акцент #2196F3;
цвет заголовков #212121;
цвет текста #757575;
текст белый #FFFFFF;
*/

:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --text-color: #757575;
  --heading-color: #212121;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --social-link-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
}

body {
  padding-top: 80px;
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

.section__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__item {
  margin-right: 30px;
}

.list__item:last-child {
  margin-right: 0;
}

.button {
  height: 50px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}


/* Шапка сайта */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

.header__main-menu {
  display: flex;
  align-items: center;
}

      /* Логотип */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__text {
   color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
}

.header__menu {
  display: flex;
  align-items: center;
}

      /* Главная навигация страницы */

.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

      /* Контакты в навигации шапки */

.contacts__list {
  margin-left: auto;
}

.contacts-link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contacts-link__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

                                  /* СТРАНИЦА СТУДИИ */

/* Hero */

.hero {
  min-height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title-container {
  width: 696px;
  margin: 0 auto 30px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__button {
  padding: 10px 32px;
}

/* Преимущества компании */


      /* Плюсы компании */
.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--light-background-color);
  border-radius: 4px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__subtitle {
  margin-bottom: 10px;
  color: var(--heading-color);
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Чем мы занимаемся */

.section--narrow {
  padding-top: 0;
}

.capabilities {
  display: block;
}

.capabilities__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.capabilities__image::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.capabilities__subtitle {
  position: absolute;
  padding: 27px 0;
  text-align: center;

  color: var(--white-color);
}

/* Наша команда */

.section--light-background {
  background-color: var(--light-background-color);
}

      /* Карточка члена команды */

.employee {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee__image {
  margin-bottom: 30px;
}

.employee__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
}

.employee__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

      /* Социальные сети члена команды */

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee__social-list {
    padding: 16px 32px 30px;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-link-color);
  background-color: transparent;
  transition: fill var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.social-link__icon {
  width: 20px;
  height: 20px;
}

.social-link:hover,
.social-link:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

/* Постоянные клиенты */


      /* Логотип-ссылка клиента */

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  fill: var(--social-link-color);

  transition: fill var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

                                  /* СТРАНИЦА ПОРТФОЛИО */

      /* Список кнопок-категорий проектов */

.category-list {
  margin-bottom: 50px;
}

.category-list__item {
  margin-right: 8px;
}

.category__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--heading-color);
  cursor: pointer;

  background-color: var(--light-background-color);
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0), 0px 1px 2px rgba(0, 0, 0, 0),
    0px 2px 2px rgba(0, 0, 0, 0);
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function),
      box-shadow var(--transition-duration) var(--transition-timing-function);
  
}

.category__button:hover,
.category__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

      /* Оформление списка карточек проектов */

.design-list {
  flex-wrap: wrap;
  flex-basis: calc(100% / 3-30px);
}

.design-list__item {
  margin-bottom: 30px;
}

.design-list__item:nth-child(3n + 3) {
  margin-right: 0px;
}

.design-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

      /* Карточка проекта */

.project__link {
  display: inline-block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0), 0px 4px 4px rgba(0, 0, 0, 0),
    1px 4px 6px rgba(0, 0, 0, 0);
}

.project__thumb {
  position: relative;
  overflow: hidden;
  display: flex;
}

.project__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link:hover .project__overlay,
.project:focus .project__overlay {
  transform: translateY(0%);
}

.project__meta {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__type {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--heading-color);
}

.project__name {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
  }

.footer__container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

      /* Оформление логотипа в футере  */

.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  color: var(--white-color);
}
      /* Адрес компании */

.address-container {
  margin-right: 70px;
}


.address-list__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.address-list__item {
  margin-bottom: 9px;
}

.address-list__item:last-child {
  margin-bottom: 0;
}

.address-list__footer {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-list__footer:hover, .address-list__footer:focus {
  color: var(--accent-color);
}

      /* Социальные сети компании */

.footer-social {
  margin-right: 93px;
  margin-left: auto;
}

.footer-social__subtitle {
  display: block;
  margin-bottom: 20px;
  text-align: left;
  color: var(--white-color);
}

.social-link--dark {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

      /* Форма подписки */

.email__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email__subtitle {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.email__field {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: var(--dark-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.email__field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px 10px 29px;
}

.email__icon {
  margin-left: 10px;
}

      /* Окно заказа услуг */

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal__button:hover,
.modal__button:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-color);
}

      /* Форма  заказа*/

.order-form {
  display: flex;
  flex-direction: column;
}

.order-form__conteiner {
  position: relative;
  margin-bottom: 10px;
}

.order-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.order-form__title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.order-form__field {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
  cursor: pointer;
}

.form-comments__order-form {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
}

.form-comments__order-form::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order-form__button {
  padding: 10px 55px;
  margin: 0 auto;
}

.consent-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.consent-field__check {
  margin-right: 7px;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.consent-field__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid;
  border-color: var(--heading-color);
  border-radius: 2px;
  background-color: transparent;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function),
    background-image var(--transition-duration)
      var(--transition-timing-function);
}

.consent-field__check:checked + .consent-field__icon {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.consent-field__link {
  text-decoration: underline;
  color: var(--accent-color);
}

.order-form__field:focus + .order-form__icon {
  fill: var(--accent-color);
}

.order-form__field:focus {
  outline: none;
  border-color: var(--accent-color);
}
