.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;

    &__text {
        color: $accent-color;
    }

    &--top {
        margin-right: 93px;
    }

    &--bottom {
        display: block;
        margin-bottom: 20px;
        color: $white-color;
    }

}