.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $social-link-color;
    background-color: transparent;
    transition: fill $transition-duration $transition-timing-function,
      background-color $transition-duration
        $transition-timing-function;

        
        &__icon {
            width: 20px;
            height: 20px;
          }
          
        &:hover,
        &:focus {
            fill: $white-color;
            background-color: $accent-color;
          }
        
        &--dark {
          fill: #ffffff;
          background-color: rgba(255, 255, 255, 0.1);
        }    
      

  }